<header-title title="Item Navigator"
    description="e-item-navigator es un elemento que puede contener texto, iconos, avatares, imágenes, entradas y cualquier otro elemento nativo o personalizado. e-item-navigator deben utilizarse únicamente como filas en una lista con otros elementos. e-item-navigator es un contenedor personalizado diseñado para facilitar la presentación y organización de contenido de manera eficiente. Ofrece flexibilidad en su uso y adaptabilidad a diversas necesidades de diseño, proporcionando una solución versátil para la interfaz de usuario."></header-title>
<br />
<h2>Uso</h2>
<p class="text-desc">Ejemplo básico de cómo se visualiza y cómo utilizar e-item-navigator de forma personalizada.</p>

<div class="code-container">
    <e-item-navigator>
        Item con hover effect
    </e-item-navigator>
    <code>
       &lt;<span class="tag">e-item-navigator</span>&gt;<span>Item con hover effect</span>&lt;/<span class="tag">e-item-navigator</span>&gt;
    </code>
</div>

<br /><br />
<h2>Propiedades</h2>
<p class="text-desc">Documentación de propiedades que contiene el componente e-item-navigator.</p>
<br /><br />
<e-flex fd="column" gap="xl">
    <e-item>
        <e-flex fd="column" gap="xl">
            <p class="small-text">No contiene ninguna propiedad.</p>
        </e-flex>
    </e-item>
</e-flex>

<pager [notfix]="true" previous="e-modal" next="e-badge"></pager>
<pager [notfix]="true" previous="e-dialog" next="e-sidesheet"></pager>