<header-title title="Badge"
    description="e-badge es un elemento que usualmente contiene un número o símbolo indicativo, como notificaciones, mensajes no leídos, etc. e-badge es un componente personalizado diseñado para resaltar información importante de manera discreta y efectiva, proporcionando una solución visualmente atractiva para la presentación de notificaciones o indicadores similares."></header-title>
<br />
<h2>Uso</h2>
<p class="text-desc">Ejemplo básico de cómo se visualiza y cómo utilizar e-badge de forma personalizada.</p>

<div class="code-container">
    <e-badge>5</e-badge>
    <code>
       &lt;<span class="tag">e-badge</span>&gt;<span>5</span>&lt;/<span class="tag">e-badge</span>&gt;
    </code>
</div>

<br /><br />
<h2>Propiedades</h2>
<p class="text-desc">Documentación de propiedades que contiene el componente e-badge.</p>
<br /><br />
<e-flex fd="column" gap="xl">
    <e-item>
        <e-flex fd="column" gap="xl">
            <p class="small-text">No contiene ninguna propiedad.</p>
        </e-flex>
    </e-item>
</e-flex>

<pager [notfix]="true" previous="e-item" next="e-content"></pager>