<header>
    <ul>
        <li>Componentes</li>
    </ul>
    <div class="install-container">
        <p (click)="navigateToInstallation()">Guía de instalación</p>
    </div>
    <div class="links-container">
        <a href="https://www.npmjs.com/package/ngx-ever-components" target="_blank">
            <img alt="ever-components npm" src="assets/npm.svg" />
        </a>
        <a href="https://github.com/powfuu/ngx-ever-components" target="_blank">
            <img alt="ever-components github" src="assets/github.svg" />
        </a>
    </div>
</header>