<header-title title="Dropdown"
    description="e-dropdown es un componente personalizado diseñado para mostrar menús desplegables en la interfaz de usuario. Con diversas opciones de personalización y propiedades, es altamente versátil y útil en el desarrollo de aplicaciones. Permite organizar y seleccionar opciones de manera eficiente, mejorando la navegación y la experiencia del usuario."></header-title>

<br />
<h2>Uso</h2>
<p class="text-desc">Ejemplos básicos de cómo se visualiza y cómo utilizar e-dropdown de forma personalizada.</p>

<div class="code-container">
    <e-dropdown titleDropdown="Lista de items" [clickAction]="eventoClickItem" [items]="items"></e-dropdown>
    <code>
        &lt;<span class="tag">e-dropdown</span> <span class="declarations"> titleDropdown</span>=<span class="string">"Lista de items"</span> [<span class="declarations">clickAction</span>]=<span class="string">"eventoClickItem"</span> [<span class="declarations">items</span>]=<span class="string">"items"</span>&gt;&lt;/<span class="tag">e-dropdown</span>&gt;
    </code>
    <code>
        <span class="declarations">items</span>: <span class="string">string</span>[] = [<span class="string">'Item 1'</span>, <span class="string">'Item 2'</span>, <span class="string">'Item 3'</span>];<br>
        <br>
        <span class="package-text">eventoClickItem</span>(<span class="string">item</span>: <span class="string">string</span>): <span class="declarations">void</span> {{ '{' }}<br>
        &nbsp;&nbsp;<span class="from">alert</span>(<span class="string">item + ' clicked!'</span>);<br>
        {{ '}' }}
    </code>

</div>

<br /><br />
<h2>Propiedades</h2>
<p class="text-desc">Documentación de propiedades que contiene el componente e-dropdown.</p>
<br />
<e-flex fd="column" gap="xl">
    <e-item>
        <e-flex fd="column" gap="xl">
            <h3>titleDropdown</h3>
            <p class="small-text">Title que contendrá el Dropdown.</p>
            <h4>values ("Dropdown" por defecto)</h4>
            <p class="small-text">Tipo string</p>
        </e-flex>
    </e-item>
    <e-item>
        <e-flex fd="column" gap="xl">
            <h3>items</h3>
            <p class="small-text">Lista de items que contendrá el Dropdown.</p>
            <h4>values ([] por defecto)</h4>
            <p class="small-text">Tipo string[]</p>
        </e-flex>
    </e-item>
    <e-item>
        <e-flex fd="column" gap="xl">
            <h3>clickAction</h3>
            <p class="small-text">Método que se ejecutará al clickar un item de la lista.</p>
            <h4>values ("() => void" por defecto)</h4>
            <p class="small-text">Tipo void</p>
        </e-flex>
    </e-item>
</e-flex>

<pager [notfix]="true" previous="e-button" next="e-flex"></pager>