<header-title title="Content"
    description="e-content es un contenedor diseñado para abarcar toda la pantalla, adaptándose automáticamente al tamaño del dispositivo. Ofrece la posibilidad de mostrar una amplia variedad de elementos, desde texto hasta imágenes, manteniendo un diseño equilibrado y proporcionado. Su flexibilidad y adaptabilidad hacen que sea ideal para presentar contenido de manera eficiente en cualquier dispositivo, proporcionando una experiencia de usuario coherente y atractiva."></header-title>
<br />
<h2>Uso</h2>
<p class="text-desc">Ejemplo básico de cómo utilizar e-content.</p>

<div class="code-container">
    <code>
       &lt;<span class="tag">e-content</span>&gt;<span>Contenido escalado a el tamaño de la pantalla</span>&lt;/<span class="tag">e-content</span>&gt;
    </code>
</div>

<br /><br />
<h2>Propiedades</h2>
<p class="text-desc">Documentación de propiedades que contiene el componente e-content.</p>
<br /><br />
<e-flex fd="column" gap="xl">
    <e-item>
        <e-flex fd="column" gap="xl">
            <p class="small-text">No contiene ninguna propiedad.</p>
        </e-flex>
    </e-item>
</e-flex>

<pager [notfix]="true" previous="e-badge" next="e-input"></pager>