e-flex {
  div {
    padding-top: 25px;
    margin-left: 10px;
  }
}

app-sidebar {
  transition: transform 0.3s ease;
}

.content {
  margin: 22px 18px;
  margin-right: 30px;
  margin-left: 305px !important;
  flex: 1;
}

main {
  margin-top: 60px;
}

.wrapper {
  display: flex;
  position: relative;
}

.float-but {
  position: fixed;
  transform: translate(-50%, -50%);
  top: 100%;
  margin-top: -52px;
  left: 60%;
  z-index: 9999999999;
  transition: 0.3s ease;
  height: 30px;
  width: 60px;
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--black);
  text-align: center;
  display: none;
  color: var(--gray);
  cursor: pointer;
  svg {
    height: 22px;
    margin-top: -22px;
  }
}

@media screen and (min-width: 741px) {
  app-sidebar {
    position: fixed !important;
    transform: translateX(0px) !important;
  }
}

@media screen and (max-width: 740px) {
  .content {
    margin-left: 30.5px !important;
  }
  .float-but {
    display: block;
    left: 50%;
  }
  app-sidebar {
    transform: translateX(-400px);
    z-index: 999;
    position: fixed;
  }
}
