<header-title title="Card"
    description="e-card es un componente altamente personalizable diseñado con una estructura de carta, creado para agilizar la creación de cartas que representen cualquier tipo de información en un template. Su versatilidad y capacidad de adaptación permiten una implementación rápida y eficiente, ofreciendo una solución práctica y flexible para diversas necesidades de presentación de datos."></header-title>
<br />
<h2>Uso</h2>
<p class="text-desc">Ejemplo básico de cómo se visualiza y cómo utilizar e-card.</p>

<div class="code-container">
    <e-card>
        <p>Esto es una carta I</p>
        <p>Esto es una carta II</p>
        <p>Esto es una carta III</p>
    </e-card>
    <code>
        &lt;<span class="tag">e-card</span>&gt;<br>
        &nbsp;&nbsp;&nbsp;&lt;<span class="tag">p</span>&gt;Esto es una carta I&lt;/<span class="tag">p</span>&gt;<br>
        &nbsp;&nbsp;&nbsp;&lt;<span class="tag">p</span>&gt;Esto es una carta II&lt;/<span class="tag">p</span>&gt;<br>
        &nbsp;&nbsp;&nbsp;&lt;<span class="tag">p</span>&gt;Esto es una carta III&lt;/<span class="tag">p</span>&gt;<br>
        &lt;/<span class="tag">e-card</span>&gt;
     </code>
</div>

<br /><br />
<h2>Propiedades</h2>
<p class="text-desc">Documentación de propiedades que contiene el componente e-card.</p>
<br /><br />
<e-flex fd="column" gap="xl">
    <e-item>
        <e-flex fd="column" gap="xl">
            <p class="small-text">No contiene ninguna propiedad.</p>
        </e-flex>
    </e-item>
</e-flex>

<pager [notfix]="true" previous="e-flex" next="e-modal"></pager>