<header-title title="Uso de la librería"
    description="Luego de haber realizado la instalación en tu proyecto angular será necesario importar el módulo principal de la librería y importarlo en el módulo correspondiente o directamente en el app.module.ts"></header-title>
<div class="code-container">
    <code>
    <span class="import">import </span><span class="package-import">{{'{ NgxEverComponentsModule }'}} </span><span class="from">from </span><span class="string">"ngx-ever-components";</span></code>
    <code>
        <span class="declarations">declarations </span><span class="points">: </span><span class="corchetes">[</span><span class="text-base">...</span><span class="corchetes">]</span><span class="comma">,</span><br/>
        <span class="declarations">imports</span><span class="points">: </span> <span class="corchetes">[</span><span class="package-text">NgxEverComponentsModule</span><span>]</span>
    </code>
</div>
<pager previous="installation" next="e-button"></pager>